<!DOCTYPE html>
<html>
<head>
    <title>Online Payment Fraud Detection</title>
</head>
<body>

    <h2>Online Payment Fraud Detection System</h2>

    <form action="/predict" method="post">

        <input type="number" name="step" placeholder="Step" required><br><br>

        <select name="type" required>
            <option value="CASH_IN">CASH_IN</option>
            <option value="CASH_OUT">CASH_OUT</option>
            <option value="DEBIT">DEBIT</option>
            <option value="PAYMENT">PAYMENT</option>
            <option value="TRANSFER">TRANSFER</option>
        </select><br><br>

        <input type="number" step="any" name="amount" placeholder="Amount" required><br><br>
        <input type="number" step="any" name="oldbalanceOrg" placeholder="Old Balance Origin" required><br><br>
        <input type="number" step="any" name="newbalanceOrig" placeholder="New Balance Origin" required><br><br>
        <input type="number" step="any" name="oldbalanceDest" placeholder="Old Balance Destination" required><br><br>
        <input type="number" step="any" name="newbalanceDest" placeholder="New Balance Destination" required><br><br>

        <button type="submit">Predict</button>

    </form>

    <h3>{{ prediction_text }}</h3>
    

</body>
</html>


